<main
  class="p-7 bg-white text-slate-700 dark:bg-slate-800 dark:text-white h-screen"
>
  <section class="max-w-xl mx-auto mb-7 relative">
    <app-search (inputChange)="searchInput = $event"></app-search>

    <app-resultsbox
      *ngIf="searchInput"
      [searchInput]="searchInput"
      [resources]="resources"
      class="results"
    >
    </app-resultsbox>
  </section>

  <section class="max-w-xl mx-auto">
    <ul>
      <li *ngFor="let resource of resources">
        <app-resource-card [resource]="resource"></app-resource-card>
      </li>
    </ul>
  </section>
</main>
