<form [formGroup]="form" class="rounded px-8 pt-6 pb-8 mb-4">
  <div class="mb-4">
    <label class="block text-sm font-bold mb-2" for="resource-names">
      Lambdas
    </label>

    <textarea
      class="bg-slate-50 border border-slate-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      id="resource-names"
      placeholder="customers-v1,products-v1"
      formControlName="resources"
    ></textarea>
  </div>

  <div class="mb-6">
    <label class="block text-sm font-bold mb-2" for="environments">
      Environments (optional)
    </label>

    <textarea
      class="bg-slate-50 border border-slate-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      id="environments"
      placeholder="dev,test,prod"
      formControlName="envs"
    ></textarea>
  </div>

  <div class="flex items-center justify-between">
    <button
      class="bg-pink-600 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="button"
    >
      Save
    </button>
  </div>
</form>
